/*button {
  position: absolute;
  top: 50%;
  left: 50%
}*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.curve span {
  font: 26px MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

html, body {
	width: 150%;
	height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position:absolute;
  right:-312px;
	/*width: 100;
	height: 90vh;*/
	color: #fff;
	background: linear-gradient(271deg, #f0a640, #e6d6ba, #e15a59, #e8c920);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

button {
    background-color: black;
    color: black;
    outline-color: white;
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    /*border: 2px solid white;*/
}

.triangle {
  display: inline-block;
  margin: 0 0;
  vertical-align: middle;
  border-radius: 6px
}

.triangle-0 {
  width: 18px;
  height: 34px;
  border-bottom: solid 34px red;
  border-left: solid 18px transparent;
  border-right: solid 18px transparent;
  border-radius: 6px
}

.triangle-02 {
  width: 21px;
  height: 37px;
  border-bottom: solid 37px white;
  border-left: solid 21px transparent;
  border-right: solid 21px transparent;
  border-radius: 6px
}

.triangle-1 {
  width: 20px;
  height: 36px;
  border-top: solid 36px white;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  border-radius: 6px
}
